@using System.Text.Json
@model CityCreateDtoModel

 <form class="m-5 p-3 w-75 shadow mx-auto" asp-action="Create" asp-controller="City" method="post">
            
    @{
        TempData["Countries"] = JsonSerializer.Serialize(Model.Countries);
    }
                
            <div class="mb-3">
                <label class="form-label">Country:</label>
                <select class="form-select" asp-items="@Model.Countries" asp-for="CountryId"></select>
            </div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Name:</label>
                <span asp-validation-for="Name" class="text-danger"></span>
                <input type="text" asp-for="Name" class="form-control"/>
            </div>
            <div class="mb-3">
                <label asp-for="Population" class="form-label">Population:</label>
                <span asp-validation-for="Population" class="text-danger"></span>
                <input type="number" asp-for="Population" class="form-control"/>
            </div>
            
            <div class="mb-3">
                <button class="btn btn-primary w-100">Create</button>
            </div>
        </form>