 


<form class="m-5 p-3 w-75 shadow mx-auto" asp-action="Upload" asp-controller="Country" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label">Img:</label>
                <input type="file" name="file" class="form-control"/>
            </div>

            <div class="mb-3">
                <button class="btn btn-primary w-100">Create</button>
            </div>
</form>