@{
    ViewBag.Title = "Index1";
}


<p class="text-danger" >
    Index...
</p>
<div>
    <a class="btn btn-primary" asp-action="List" asp-controller="Employee">EmployeeList</a>
    <a class="btn btn-warning" asp-action="List" asp-controller="Country">CountryList</a>
    <a class="btn btn-dark" asp-action="List" asp-controller="City">CityList</a>
</div>